name: github pages

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Publish Website
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - run: |
          echo "::set-env name=FILELIST::$(printf '"%s" ' content/docs/*.md)"

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.74.3'
          extended: true

      - name: Build
        run: hugo --minify
          
      - uses: docker://pandoc/latex:2.9
        with:
          args: --output=public/webrtc-for-the-curious.pdf ${{ env.FILELIST }}

      - uses: docker://pandoc/latex:2.9
        with:
          args: --output=public/docs/webrtc-for-the-curious.pdf ${{ env.FILELIST }}

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          cname: webrtcforthecurious.com
